 * {
    box-sizing: border-box; /* 길이 계산을 편하게 하기위함. box-sizing에 관한 설명은 아래 링크를 참고해주세요 */
  }
  body {
    margin: 0; /* body의 기본마진을 없애줍니다(선택사항) */
    font-family: sans-serif;
  }
  a {
    text-decoration: none; /* 기본 밑줄을 제거합니다 */
    color: #888;
  }
  a:hover {
    text-decoration: underline; /* 마우스 커서가 올라갔을 때 밑줄을 생성합니다*/
  }
  header {
    margin: auto; /* header의 양쪽 여백(margin)을 동등하게 맞춤 -> 수평가운데정렬 */
    width: 1080px;
    height: 215px;
    display: flex;
    align-items: center; /* 하위 요소들 수직 가운데정렬 */
    position: relative;
  }
  fieldset {
    border: none; /* 기본 border 없애기(이 코드를 지우고 기본 border를 확인해보세요) */
  }
  .visually-hidden { /* legend 안보이게 설정. 이렇게하면 접근성을 준수하면서 디자인을 해치지 않습니다. */
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
  }
  .links { /* 링크들을 상단 우측에 위치시킵니다. */
    position: absolute;
    top: 0;
    right: 0;
  }
  .link_text {
    font-size: 10px;
    margin-left: 5px;
  }
  .img_logo {
    margin-bottom: 12px;
    width: 220px;
    height: 65px;
  }
  .search_box {
    width: 520px;
    height: 50px;
    border: 2px solid #03cf5d;
    display: flex;
    align-items: center;
  }
  .search_box input {
    flex: 9; /* search-box내부에서 9만큼의 크기를 차지(비율) */
    height: 46px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
    outline: none;
    font-size: 18px;
  }
  .search_box button {
    flex: 1; /* search-box내부에서 1만큼의 크기를 차지(비율) */
    height: 46px;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: #03cf5d;
    color: #ffffff;
  }
  /* nav */
  header > nav {
    width: 100%;
    height: 45px;
    position: absolute;
    bottom: 0;
  }
  .nav_items {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    border-top: 1px solid #f1f3f6;
  }
  .nav_items ul > li {
    display: inline-block;
    margin-left: 8px;
  }
  .nav_items ul > li:nth-child(-n + 7) > a { /* <ul>하위 7번째 <li>까지 각각 내부의 <a> 태그 접근 */
    color: #03cf5d;
  }
  .nav_items ul > li > a {
    text-decoration: none;
    cursor: pointer;
  }
  main {
    background: #f2f4f7;
    min-height: 700px;
  }

  ul { /*ul의 하위요소 (li) 수평정렬을 위해 기본마진, 패딩 제거*/
    margin: 0;
    padding: 0;
  }
  footer {
    width: 1080px;
    height: 310px;
    margin: auto;
    padding: 0 8px 0 8px; /* 각각 위 오른쪽 아래 왼쪽 */
    display: flex;
    flex-direction: column; /* 요소들을 수평정렬 */
    font-size: 12px;
  }
  .notice_box {
    flex: 1;
    display: flex;
    justify-content: space-between; /* 양끝 정렬 */
    align-items: center;
    border-bottom: 1px solid #f1f3f6;
  }
  .notive_box a{
    font-weight: bold;
    color: black;
  }
  .aside_box {
    flex: 2;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f3f6;
  }
  .area_user {
    flex: 4;
    line-height: 2em; /* 줄간격 */
  }
  .area_user_row {
    display: flex;
  }
  .area_user_row span {
    flex: 1;
  }
  .area_user_row ul {
    flex: 6;
  }
  .aur_title {
    font-size: 13px;
    font-weight: bold;
  }
  .area_user_row ul > li {
    display: inline-block; /* 수평정렬하는 방법 */
    margin-left: 8px;
  }
  .area_col {
    flex: 1;
    display: flex;
  }
  .area_ col .ac_content {
    line-height: 20px;
  }
  .area_col .ac_img {
    width: 60px;
    height: 60px;
  }
  .bottom_box {
    flex: 3;
    padding-top: 20px;
    font-size: 14px;
  }
  .bottom_box ul > li {
    display: inline-block;
    margin-left: 8px;
  }
  .bottom_box ul > li:last-chile{ /* 마지막 li요소 (NAVER Crop.) 굵게*/
    font-weight: bold;
  }
  /* 재사용 클래스 */
  .color_naver {
    color: #03cf5d;
  }
  .text_bold-13 {
    font-weight: bold;
    font-size: 13px;
  }

  